body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Noto Serif JP', serif;
  background-color: #080613;
  color: white;
}

.content-wrapper {
  flex: 1;
}

footer {
  margin-top: auto;
  height: 50px;
  background-color: transparent;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: Arial, sans-serif;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col-xs-3 {
    flex: 1;
  }
  
  .time-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    border: 1px solid #011f7b;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    max-width: 120px;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
  }
  
  .input-section {
    width: 100%;
    margin-bottom: 60px; /* Para subir o bajar el contador*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Agregado para centrar horizontalmente */
  }
  
  .input-box {
    max-width: 400px;
    flex-grow: 1;
    border: 1px solid #011f7b;
    padding: 10px;
    margin-right: 17px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
  }
  
  .submit-button {
    background-color: #0077cc;
    color: white;
    border: 1px solid #011f7b;
    padding: 10px;
    flex-shrink: 0;
    background: transparent;
    border-radius: 10px;
}

.submit-button:hover {
  background-color: #005da7;
  cursor: pointer;
}

.submit-button:active {
  background-color: #004c8c;
}
  
  #text-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }

  .widget-container {
    position: absolute;
    display: inline-block;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    
  }
  
  .widget-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-align: justify;
    font-size: 16px;
    color: #333;
  }
  

  .shion{
    display: flex;
    justify-content: center;
  }

  #deseo-pao{
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .page-indicator {
    margin: 0;
  }
  
  .prev-page,
  .next-page {
    border: none;
    background-color: transparent;
    color: #666;
    font-size: 14px;
    cursor: pointer;
  }
  
  .prev-page:hover,
  .next-page:hover {
    color: #333;
    text-decoration: underline;
  }
  
  .next-page.disabled {
    color: #999;
    cursor: not-allowed;
  }

  button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .esquina-izquierda-abajo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20%;
    z-index: 9999;
  }