body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
}

button {
	padding: 10px 20px;
	background-color: #0067a3;
	color: white;
	border: none;
	cursor: pointer;
}

#calendario {
	margin-top: 20px;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 50px;
}

.ui-datepicker {
	font-size: 1em;
}

.ui-datepicker.ui-widget {
	margin-top: 1px; /* agrega un margen superior al calendario para que no se superponga con el botón */
	margin-left: 250px; /* posiciona el calendario hacia la izquierda para que se alinee con el botón */
}

#contenedor-principal {
	width: 80%;
	max-width: 800px;
	text-align: center;
}

#contenedor-botones {
	display: flex;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50px;
	width: 100%;
	margin-top: 60px;
}

#contenedor-botones-interno {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

#contenedor-botones button {
	margin-left: 10px;
}

#contenedor-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}